@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.callback 
		.callback-right
			width: 100%


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.bottom-panel
		.link-map
			font-size: 20px
			color: #000
		.link-callback
			color: #000
			display: block
			margin-bottom: 8px
			.fa 
				display: inline-block
		.wrap-panel
			float: none
		.link-phone
			display: block
			margin-bottom: 10px
			text-align: left
	
	.search
		margin-bottom: 10px
		margin-top: 10px
		.button
			right: 16px
			padding: 7px 20px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.logo 
		.logo__desc
			font-size: 13px
	
	.form
		.form__head
			font-size: 32px
		.form__desc
			font-size: 20px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

