@import "fonts"
@import "libs"
@import "vars"
//@import "loader"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	overflow-x: hidden

.before
	position: absolute
	content: ""
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 0
	background-color: rgba(#000, .5)

ul, li 
	margin: 0
	padding: 0
	list-style-type: none


a 
	color: #fff
	&:hover
		color: #fff
	&:focus
		outline: none
		
button
	&::focus, &:active
		outline: none

/* logo */
.logo
	display: inline-block
	color: #fff
	text-transform: uppercase
	span 
		color: $accent
	.logo__head
		font-size: 26px
		font-family: "RobotoRegular", sans-serif
		margin: 0
		line-height: 1
		span 
			font-size: 36px
	.logo__desc	
		margin: 0
		font-size: 14px
		font-style: italic
	&:hover, &:focus, &:active
		color: #fff
		text-decoration: none
	
	
.header
	height: 100vh
	min-height: 640px
	background-size: cover
	background-position: center
	position: relative
	background-color: #000
	&::before
		@extend .before

.header-center
	text-align: center
	h2
		text-transform: uppercase
		font-size: 40px
		margin-bottom: 10px
		margin-top: 10px
		span
			color: $accent
	h3
		font-weight: 300

.flex-center
	margin: auto

.top-panel
	position: absolute
	top: 0
	left: 0
	width: 100%
	padding: 10px 20px
	z-index: 10

.center-panel	
	position: absolute
	color: #fff
	display: flex
	width: 100%	
	height: 100%



.bottom-panel
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	background-color: #fff
	color: #000
	z-index: 2
	&::before
		position: absolute
		content: ""
		width: 60%
		left: -10%
		height: 100%
		background-color: $accent
		z-index: 0
		color: #fff
		transform: skewX(45deg)

.wrap-panel
	float: right
	display: table

.link-phone
	color: #000
	font-weight: 600
	font-family: "Oswald", sans-serif
	font-size: 24px
	text-align: right
	display: table-row
	letter-spacing: 1.5px
	span 
		font-size: 18px
	.fa 
		margin-right: 5px
	&:hover, &:focus
		color: #000

.link-callback
	color: darken($accent, 5%)
	font-size: 18px
	text-transform: uppercase
	font-family: "Oswald", sans-serif
	&:hover
		color: $accent

.link-map
	font-size: 26px
	font-family: "Oswald", sans-serif
	line-height: 2.3
	.fa 
		margin-right: 5px
	&:focus
		color: #fff

.head
	font-size: 40px
	text-transform: uppercase
	display: block
	text-align: center
	span 
		color: $accent


/* меню */
.hamburger
	float: right


/* каталог */
.catalog
	position: relative
	font-family: "Oswald", sans-serif
	text-align: center
	padding-bottom: 50px
	.catalog__item
		margin-bottom: 40px
		display: block
		position: relative
		&::before
			position: absolute
			content: ""
			top: 0
			right: 10px
			width: 60%
			height: 100%
			border: 10px solid lighten($accent, 30%)
			z-index: -1
			opacity: 0
			transition: opacity 0.4s ease-in-out
		&:hover
			text-decoration: none
			&::before
				opacity: 1
			.catalog__img
				transform: scale(0.8) translate(20%)

	.catalog__img
		display: inline-block
		margin-bottom: 15px
		z-index: 2
		transition: transform 0.4s ease-in-out
		img
			max-width: 100%
	.catalog__head
		font-size: 30px
		margin: 0
		font-weight: 500
		color: #000
		z-index: 2
		span
			font-weight: 700
			text-transform: uppercase


/* advantages */
.advantages
	background-color: #f5f7fa
	position: relative
	padding-bottom: 70px
	font-family: "Roboto Condensed", sans-serif
	text-align: center
	.advantages__head
		font-size: 26px
		margin-bottom: 10px
	.advantages__desc
		font-size: 18px


/* about */
.about
	position: relative
	background-color: #656d78
	color: #fff
	text-align: center
	padding-bottom: 50px
	.about__img
		width: 185px
		height: 185px
		overflow: hidden
		border-radius: 50%
		border: 5px solid $accent
		display: inline-block
		img
			max-width: 100%
	.about__head
		font-size: 30px
		font-family: "Oswald", sans-serif
		font-weight: 500
		margin: 10px 0
	.about__post
		font-family: "Roboto Condensed", sans-serif
		font-style: italic
		font-size: 18px
		color: $accent
	.about__desc
		font-family: "Roboto Condensed", sans-serif
		font-weight: 300
		margin-bottom: 30px


/* callback */
.callback
	position: relative
	min-height: 550px

	.callback-right
		position: absolute
		right: 0
		top: 0
		width: 50%
		height: 100%
		background-color: rgba($accent, 0.85)
		z-index: 2
		color: #fff
		display: flex
		.logo
			color: #fff
			span 
				color: #000

.form
	max-width: 450px
	padding: 0 20px
	.form__head
		font-size: 40px
		text-transform: uppercase
		font-family: "Oswald", sans-serif
		margin: 10px 0
	.form__desc	
		font-family: "Roboto Condensed", sans-serif
		font-style: italic
		font-size: 24px
		margin-top: 0
	.form__input
		display: block
		width: 100%
		background-color: transparent 
		border: 1px solid #e3af14
		padding: 10px 20px
		font-family: "Roboto Condensed", sans-serif
		font-size: 18px
		font-weight: 300
		margin-bottom: 30px
		transition: background-color 0.3s ease
		&::-webkit-input-placeholder
			color: #fff
		&:-moz-placeholder
			color: #fff
		&::-moz-placeholder 
			color: #fff
		&:-ms-input-placeholder
			color: #fff
		&:focus
			background-color: darken($accent, 5%)
			outline: none
	.form__btn
		display: inline-block
		color: #000
		background-color: #fff
		padding: 15px 20px
		text-transform: uppercase
		border: none
		border-radius: 3px
		font-weight: 600
		border-bottom: 3px solid rgba(#000, 0.2)
		transition: border 0.2s ease
		&:hover
			border-bottom: 3px solid rgba(#000, 0.3)


/* footer */
.footer
	background-color: #434a54
	color: #fff
	padding-top: 50px

	.logo
		margin-bottom: 25px
		display: block
	
	.footer__link
		font-size: 18px
		color: $accent
		font-style: italic
		display: block
		margin-bottom: 5px
		span 
			color: #fff
	
	.footer__head
		font-size: 22px
		color: #fff
		text-transform: uppercase
		margin: 0
		margin-bottom: 20px

	.footer-menu
		margin-bottom: 30px
		.footer-menu__item
			>a 
				color: $accent
				font-size: 18px
				display: inline-block
				margin-bottom: 10px
				text-decoration: underline
				&:hover
					text-decoration: none
				.fa
					font-size: 22px
					margin-right: 10px

.soc
	padding-top: 25px
	margin-bottom: 20px
	display: block
	.soc__item
		display: inline-block
		text-align: center
		width: 40px
		height: 40px
		border: 2px solid $accent
		margin-right: 20px
		margin-bottom: 20px
		>a
			color: $accent
			line-height: 40px
			font-size: 24px
		.fa
			transition: transform 0.4s ease-in-out
		&:hover
			.fa
				transform: rotate(45deg)


.copyright
	text-align: center
	padding: 20px
	border-top: 1px solid #4d545e
	margin-top: 20px
	color: #8e98a5


////////////////////////////////////////////////////////////////////
/* is-nohome */
.is-nohome
	.top-panel
		position: relative
	.header
		height: 100%
		min-height: 60px
	

.search-panel
	background-color: #f5f7fa
	position: relative
	width: 100%
	overflow: hidden
	padding: 2px 0
	input
		max-width: 100%
		width: 100%
		padding: 6px 0 6px 15px
		box-sizing: border-box
		border: 1px solid #ccc
		&:focus
			outline: none
			border: 1px solid $accent

	.button
		position: absolute
		top: 0
		right: 10px
		width: auto	
		display: inline-block
		border: none
		background-color: $accent
		color: #fff
		height: 100%
		padding: 0 20px
		text-transform: uppercase


.basket
	height: 100%
	width: 100%
	background-color: $green
	position: relative
	font-size: 18px
	text-align: center
	padding: 5px 0
	color: #fff
	font-family: "Oswald", sans-serif
	display: inline-block

	.fa
		font-size: 26px
		margin-right: 10px


/* category */
.category
	padding-top: 30px
	min-height: 600px


.filter
	margin-bottom: 40px
	.filter__item
		text-transform: uppercase
		font-size: 18px
		padding: 4px
		display: block
		color: #000
		text-decoration: none
		&:hover
			background-color: rgba($blue, 0.8)
			color: #fff
			cursor: pointer
		&.active
			background-color: $blue
			color: #fff

.category
	.category-top
		margin-bottom: 30px
		.category__head
			float: left
			margin: 0
			font-size: 30px
			text-transform: uppercase
			font-weight: 500
		.category__select
			float: right
			font-size: 18px
			vertical-align: bottom
			cursor: pointer
			span 
				margin-right: 5px
			select
				padding: 5px
				outline: none
	.category-content
		margin-bottom: 30px
		.category-item
			display: inline-block
			max-width: 260px
			min-width: 250px
			text-align: center
			color: #000
			margin-right: 15px
			margin-bottom: 40px

			/* для полной инфы */
			&.full
				max-width: 100%
				.category-item__head
					text-transform: uppercase
					text-align: left
					margin-bottom: 30px
					font-size: 28px
				.category-item__img
					width: 50%
					display: inline-block
					float: left
					img
						max-width: 100%
				.category-item__desc
					font-size: 18px
					text-align: left
					strong
						text-transform: uppercase
						color: #333
				.category-item__price
					text-align: left
					strong
						text-transform: uppercase
				.category-item__table
					margin-top: 30px
					margin-bottom: 30px
					h3
						font-size: 20px
						margin-bottom: 20px
					table
						width: 100%
						tbody
							text-align: left
							font-size: 18px
							tr
								text-indent: 30px
								&:nth-child(2n+1)
									background-color: #f7f7f7
								td 
									padding: 5px 0
			&:hover
				text-decoration: none
			img
				max-width: 100%
				display: inline-block
				margin-bottom: 20px
			.category-item__head
				font-size: 20px
				text-transform: uppercase
				font-weight: 600
			.category-item__price
				font-size: 18px
				font-family: "RobotoRegular", sans-serif
				margin-bottom: 15px
			.category-item__btn
				display: block
				width: 100%
				padding: 12px 10px
				color: #fff
				background-color: $blue
				border: none
				text-transform: uppercase
				outline: none
				&:hover
					background-color: rgba($blue, 0.8)

	.category-bottom
		margin-bottom: 50px
		li 
			display: inline-block
			a 
				color: #000
				font-size: 18px
				display: inline-block
				padding: 3px 7px
				background-color: #f5f7fa
				margin-right: 3px
				&:hover
					text-decoration: none
			&.active
				a 
					background-color: $accent
					color: #fff
>>>>>>> bda1a406c502402d332abc8bc689c35870a1af96

@import "media" // Всегда в конце
